@import '../variables/ThemeVariables.scss';

.logo-menu-btn {
	display: inline-block;
	margin-left: 1rem;
	cursor: pointer;
	user-select: none;
	border-radius: 25%;
}

.datepicker-row:not(.is-disabled) {
	color: #191c1b;
}

.datepicker-date-display {
	@include themify($themes) {
		background: themed('primary');
		color: themed('onPrimary');
	}
}

.datepicker-calendar-container {
	@include themify($themes) {
		background: themed('surface');
	}
}

.datepicker-day-button {
	@include themify($themes) {
		color: themed('onSurface');
	}
}

.is-today .datepicker-day-button {
	@include themify($themes) {
		color: themed('primary') !important;
	}
}

.is-selected .datepicker-day-button {
	@include themify($themes) {
		color: themed('onPrimary') !important;
	}
}


.is-disabled .datepicker-day-button {
	@include themify($themes) {
		color: themed('shadow') !important;
	}
}

.datepicker {
	@include themify($themes) {
		background: themed('surface') !important;
		color: themed('primaryLightOnly');
		-webkit-box-shadow:  5px 5px 10px themed('nmShadowDark'),
												-5px -5px 10px themed('nmShadowLight');
						box-shadow:  5px 5px 10px themed('nmShadowDark'),
												-5px -5px 10px themed('nmShadowLight');
	}

	text-align: center;
	border: none !important;
	border-radius: 0.25rem !important;

	text-transform: none;
	user-select: none;
	width: 100%;
	margin-top: 0px;
	height: 3rem;
	padding-top: 0px;
	font-size: 1.25rem !important;
	font-weight: 700;

	// Not ideal, but iOS was removing the box-shadow otherwise
	-webkit-appearance: none;
	appearance: none;
}

.sticky-container {
	z-index: 999;
}

.settings-button-holder {
	position: fixed;
	right: 3.5rem;
	bottom: 2.3rem;
}

.settings-button {
	@include themify($themes) {
		background: themed('surface');
	}
}

.settings-button-icon {
	@include themify($themes) {
		background: themed('surface');
		color: themed('onSurfaceVariant');
	}
}

.student-list-btn {
	@include themify($themes) {
		color: themed('onSurface');
	}
	cursor: pointer;
	user-select: none;
}

.flag-emoji-offset {
	position: relative;
	margin-left: 0.5rem;
}

.emoji-select-list {
	position: absolute;
	z-index: 1;
}

.emoji-picker-react {
	@include themify($themes) {
		background-color: themed('surface');
		color: themed('onSurface')
	}
	border: 0px;
}

.emoji-select-list > aside {
	border-radius: 4px;
	@include themify($themes) {
		border: 0px;
		-webkit-box-shadow:  5px 5px 10px themed('nmShadowDark'),
												-5px -5px 10px themed('nmShadowLight');
						box-shadow:  5px 5px 10px themed('nmShadowDark'),
												-5px -5px 10px themed('nmShadowLight');
	}
}

// Add horizontal padding to emoji reaction list
.emoji-select-list > aside > ul {
	padding: 0 12px;
}
// Scale down reaction emojis, but not plus button
.emoji-select-list > aside > ul > li:not(:last-child) {
	transform: scale(0.75);
}
// Themify emoji picker category label
.epr-emoji-category-label {
	@include themify($themes) {
		background: themed('surface');
		color: themed('onSurface');
	}
}
// Themify emoji picker button hover state bg
.epr-btn:hover {
	@include themify($themes) {
		background-color: themed('surfaceVariant');
	}
}

// Icon was in the wrong place
.epr-icn-search {
	display: none;
}
.icon-button-offset {
	@include themify($themes) {
		color: themed('onSurface');
	}
	position: relative;
	top: 0.445rem;
	cursor: pointer;
	margin-left: 0.25rem;
	line-height: 0;
	transform: scale(0.75);
}

.menu-selector {
	text-align: center;
}

.menu-btn {
	@include themify($themes) {
		background: themed('background');
		color: themed('onBackground');
	}
	box-shadow: none;
	display: block;
	text-transform: uppercase;
	padding: 0.5rem 0 0.5rem 0;
}

.menu-btn.active {
	@include themify($themes) {
		color: themed('onBackground');
	}
	font-weight: bold;
}

.switches {
	margin-top: 2rem;
}

.toggle-switch {
	margin: 1rem 0;
	font-size: medium;
	@include themify($themes) {
		color: themed('onSurface');
	}
}

.hour-selector {
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-bottom: 1rem;
	@include themify($themes) {
		border-color: themed('outline');
	}
}

.group-dropdown {
	@include themify($themes) {
		background: themed('surface');
		color: themed('primaryLightOnly');
	}

	text-transform: none;
	width: 100%;
	margin: 0 0 1.5rem 0;
	height: 3rem;
	padding-top: 0.25rem;
	font-size: 1.25rem;
	font-weight: 700;
}

.navbar-link {
	@include themify($themes) {
		color: themed('onSurface');
	}

	font-size: 1.5rem;
	display: inline-block;
	margin-right: 1rem;
	margin-left: 1rem;
}

.open-session {
	cursor: pointer;
}

.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination li.active a {
	color: white !important;
}

.pagination li.active {
	@include themify($themes) {
		background-color: themed('primaryContainer') !important;
	}
}

.pagination li a {
	@include themify($themes) {
		color: themed('outline');
	}
}

.open-session-div {
	@include themify($themes) {
		color: themed('onSurfaceVariant');
	}
	cursor: pointer;
	width: 100%;
	text-align: right;
	height: 0;
}

.table-input {
	margin: 0 !important;
	padding: 0 !important;
}

.student-lock {
	color: #858e96;
	font-size: 1.25rem;
	position: absolute;
	transform: translateX(4px);
	cursor: pointer;
}

.student-lock.locked {
	color: #000000;
}

.session-more-btn {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.session-more-btn:hover {
	background-color: #eeeeee;
}

.session-more-btn-icon, .session-option-btn {
	@include themify($themes) {
		color: themed('onSurface') !important;
	}
}

.session-more-btn-icon:hover {
	@include themify($themes) {
		background-color: themed('surfaceVariant') !important;
	}
}

.session-more-btn-icon:active {
	@include themify($themes) {
		background-color: themed('surfaceVariant') !important;
	}
}