@import '../variables/ThemeVariables.scss';

.spinner-grey,
.spinner-grey-only {
	border-color: rgba(0, 0, 0, 0.13) !important;
}

.progress {
	@include themify($themes) {
		background: themed('surface') !important;
	}
}

.progress .indeterminate {
	@include themify($themes) {
		background: themed('background') !important;
	}
}