@import '../variables/ThemeVariables.scss';

.bold {
	font-weight: 750;
}

.session-time {
	@include themify($themes) {
		color: themed('outline');
	}
	display: inline-block;
	position: relative;
	left: 1rem;
}

.top-message {
	font-size: 1.15rem;
	line-height: 1.5rem;
	margin: 1.4rem 0 2rem 0;
	padding: 0.25rem 2.75rem;
	p {
		margin: 0.75rem 0;
		padding-bottom: 6px;
	}
}

.all-sessions-heading {
	user-select: none;
	margin: 0 0 1rem 0;
	letter-spacing: 1px;
}

.total-capacity {
	position: relative;
	bottom: -0.2rem;
	float: right;
	font-size: 2rem;
	@include themify($themes) {
		color: themed('outline');
	}
}