@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
  color: var(--b2);
  opacity: 0.8; /* Firefox */
}

input::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--b2);
  opacity: 0.8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn:is(input[type="checkbox"]:checked), .btn:is(input[type="radio"]:checked) {
  color: #ffffff !important;
}

.modal-bg {
  backdrop-filter: blur(5px) brightness(80%);
  -webkit-backdrop-filter: blur(5px) brightness(80%);
}

.hover-show-child > .hover-parent-show {
  opacity: 0;
}

.hover-show-child:hover > .hover-parent-show {
  opacity: 1;
}

.collapse-btn-offset {
  top: 0;
  left: -34px;
}

@media screen and (min-width: 768px) {
  .collapse-btn-offset {
    left: -42px;
  }
}

hr {
  border-color: var(--tw-fg-color);
  opacity: 0.5;
}

/* dirty fix for colors not showing up as expected */
.checked\:border-teal-600:checked {
  border-color: #0d9488 !important;
}
.checked\:bg-teal-600:checked {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity)) !important;
  color: #f2f2f2 !important;
}
.checkbox-primary {
  --chkfg: #ffffff !important;
}
.btn-primary {
  color: var(--chkfg) !important;
}

.btn-primary:is(input[type="checkbox"]:checked), .btn:is(input[type="radio"]:checked) {
  color: var(--chkfg) !important;
}

/* Don't do the auto-quotes in prose blockquotes */
.prose :where(blockquote p:first-of-type):not(:where([class~='not-prose'], [class~='not-prose'] *))::before {
  content: none;
}

/* Add horizontal padding to emoji reaction list */
.emoji-select-list > aside > ul {
  padding: 0 12px;
}
/* Scale down reaction emojis, but not plus button */
.emoji-select-list > aside > ul > li:not(:last-child) {
  transform: scale(0.75);
}

.emoji-holder > img {
  margin: 0 !important;
}

.signup-body {
  max-width: 1200px;
  margin: 0 auto;
}

.cards-container > div {
  break-inside: avoid;
}

.cards-container {
  column-count: 1;
}

@media screen and (min-width: 648px) {
  .cards-container {
    column-count: 2;
  }
}
@media screen and (min-width: 1024px) {
  .cards-container {
    column-count: 3;
  }
}
@media screen and (min-width: 1280px) {
  .cards-container {
    column-count: 4;
  }
}
@media screen and (min-width: 1536px) {
  .cards-container {
    column-count: 5;
  }
}

.dim {
  opacity: 0.7;
  pointer-events: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #303030;
  color: #fff;
  text-align: center;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: small;
  pointer-events: none;

  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.no-focus-no-border:not(:focus-within) {
  border-color: transparent !important;
}

::-webkit-calendar-picker-indicator {
    filter: var(--cal-icon-filter);
}

