
$themes: (
  light: (
    primary: #009688,
    onPrimary: #ffffff,
    primaryContainer: #4db6ac,
    onPrimaryContainer: #00201c,
    primaryLightOnly: #009688,

    secondary: #7f5600,
    onSecondary: #ffffff,
    secondaryContainer: #ffddae,
    onSecondaryContainer: #281800,

    tertiary: #ee6e73,
    onTertiary: #ffffff,
    tertiaryContainer: #ffdad9,
    onTertiaryContainer: #400009,

    error: #ba1a1a,
    onError: #ffffff,
    errorContainer: #ffdad6,
    onErrorContainer: #410002,

    background: #fafafa,
    onBackground: #191c1b,
    surface: #ffffff,
    onSurface: #191c1b,

    outline: #6f7977,
    shadow: #757575,
    shadowVariant: #bdbdbd,
    surfaceVariant: #dae5e1,
    onSurfaceVariant: #3f4947,

    highlight: rgba(242, 242, 242, 0.5),
    highlightBackground: rgba(210, 210, 210, 0.5),

    nmShadowLight: #ffffff,
    nmShadowDark: #00000015,
  ),
  
  dark: (
    primary: #26a69a,
    onPrimary: #003731,
    primaryContainer: #00796b,
    onPrimaryContainer: #74f8e5,
    primaryLightOnly : #e0e3e1,

    secondary: #ffba40,
    onSecondary: #432c00,
    secondaryContainer: #604100,
    onSecondaryContainer: #ffddae,

    tertiary: #ee8386,
    onTertiary: #ffffff,
    tertiaryContainer: #ffdad9,
    onTertiaryContainer: #400009,

    error: #ffb4ab,
    onError: #690005,
    errorContainer: #93000a,
    onErrorContainer: #ffdad6,

    background: #191c1b,
    onBackground: #e0e3e1,
    surface: #263238,
    onSurface: #e0e3e1,

    outline: #899390,
    shadow: #000000,
    shadowVariant: #101010,
    surfaceVariant: #3f4947,
    onSurfaceVariant: #bec9c6,

    highlight: rgba(65, 77, 75, 0.5),
    highlightBackground: rgba(65, 77, 75, 0.5),

    nmShadowDark: #08050580,
    nmShadowLight: #1f242374,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}