@import '../variables/MediaQuery.scss';
@import '../variables/ThemeVariables.scss';

// Columns
@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);
  }
	.user-names-list-container {
		@include column-count(1)
	}
	.hide-on-small, .show-on-med, .show-on-large {
		display: none;
	}
}
@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
	.show-on-small, .show-on-large, .hide-on-med {
		display: none;
	}
}
@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
	.user-names-list-container {
		@include column-count(2)
	}
	.show-on-small, .hide-on-large, .hide-on-med-and-up {
		display: none;
	}
}

.floating-menu {
	display: block;
	position: fixed;
	z-index: 997;
	padding: 0.5rem;
	top: 56px;
	left: 1rem;
	border-radius: 2px;

	@include themify($themes) {
		background-color: themed('surface');
	}

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

// General containers
.body-container {
	@include themify($themes) {
		background: themed('background');
	}

	height: calc(100vh - 56px) !important;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	top: 56px;
}

.navbar-wrapper {
	@include themify($themes) {
		background: themed('surface');
	}
}

.modal {
	@include themify($themes) {
		background: themed('surface');
		color: themed('onSurface');
	}
}

.cards-container {
  .card {
    display: inline-block;
    overflow: visible;
		width: 100%;
  }
}

.warning {
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	background-color: #fff176;
}

.user-names-list-container {
  .card {
    display: inline-block;
    overflow: visible;
		width: 100%;
		height: 80vh;
  }
}

.sticky-container {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: -1px;
	z-index: 996;
	transition: 0.25s;
}

.modal.teacher-sessions {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
	min-height: 80%;
}

.modal.names-list {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
	min-height: 80%;
}

.session-selector-container {
	padding: 0 1rem;
	user-select: none;
}

.session-section {
	margin-bottom: 2rem;
}
.session-section:last-child {
	margin-bottom: 3rem;
}

// sticky container
.sticky-container.is-pinned {
	padding-left: 0;
	width: 100vw;
	margin-left: -5vw;
	transition: 0.25s;
	border-top: 2px solid rgba(0, 0, 0, 0.75)
}
@media only screen and (min-width: 601px) {
	.sticky-container.is-pinned {
		margin-left: -7.5vw;
	}
}
@media only screen and (min-width: 993px) {
	.sticky-container.is-pinned {
		margin-left: -15vw;
	}
}
@media only screen and (min-width: 1828px) {
	.sticky-container.is-pinned {
		margin-left: calc((100vw - 1280px) * -0.5);
	}
}

@media only screen and (min-width: 601px) {
	.body-container {
		height: calc(100vh - 64px) !important;
		top: 64px;
	}
	.floating-menu {
		top: 64px;
	}
	.modal.teacher-sessions {
		width: 85%;
	}
	.modal.names-list {
		width: 85%;
	}
}

@media only screen and (min-width: 993px) {
	.modal.teacher-sessions {
		width: 70%;
	}
	.modal.names-list {
		width: 70%;
	}
}

.session-options-menu {
	position: absolute;
	right: 1rem;
	top: 1rem;
	z-index: 10;
	border-radius: 2px;

	@include themify($themes) {
		background-color: themed('surface');
	}

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
