@import '../variables/ThemeVariables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  @include themify($themes) {
		color: themed('onBackground');
	}
}

blockquote {
  @include themify($themes) {
		border-color: themed('tertiary');
	}
}

select {
  @include themify($themes) {
    border-color: themed('shadow');
		background-color: themed('surface');
    color: themed('onSurface');
	}
}

hr {
  background-color: #e0e3e1;
}

input {
  @include themify($themes) {
    color: themed('onBackground')
  }
}
::placeholder {
  @include themify($themes) {
    color: themed('outline')
  }
}

nav {
	@include themify($themes) {
    color: themed('onSurface');
		background: themed('surface');
    z-index: 100;
    -webkit-box-shadow:  5px 5px 10px themed('nmShadowDark'),
                        -5px -5px 10px themed('nmShadowLight');
    box-shadow:  5px 5px 10px themed('nmShadowDark'),
                        -5px -5px 10px themed('nmShadowLight');
	}
}

.navbar-fixed {
  z-index: 10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}