@import '../variables/ThemeVariables.scss';

table.highlight > tbody > tr {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

table.highlight > tbody > tr:hover {
	@include themify($themes) {
		background-color: themed('highlight');
	}
}

.dropdown-content {
	@include themify($themes) {
		background-color: themed('background');
		color: themed('primaryLightOnly');
	}
}

.dropdown-content li:hover, .dropdown-content li.active {
	@include themify($themes) {
		background-color: themed('highlight');
	}
}

.autocomplete-content li .highlight {
	@include themify($themes) {
		color: themed('onBackground');
	}
}

.collection {
	border: none;
}

.collection .collection-item {
	border-radius: 4px;
	margin: 3px 0;
	border: none;
	@include themify($themes) {
		background-color: themed('background');
		color: themed('primaryLightOnly');
		border-color: themed('outline');
	}
}

.collection .active {
	@include themify($themes) {
		background-color: themed('primary') !important;
		color: themed('onPrimary') !important;
	}
}

.collection a.collection-item:not(.active):hover {
	@include themify($themes) {
		background-color: themed('highlightBackground');
	}
}

.student-name {
	user-select: none;

	@include themify($themes) {
		color: themed('onSurface');
	}
}

.student-name-empty {
	@include themify($themes) {
		color: themed('outline');
	}
}

.user-name-list-name {
	display: block;
	cursor: pointer;
	padding: 0.5rem 0.5rem;
	border-top: 1px solid #009688;
	border-bottom: 1px solid #009688;
}