@import '../variables/ThemeVariables.scss';

.dim {
	opacity: 0.5;
}

.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
}

.hide {
	display: none;
}

.disabled-text-input {
	@include themify($themes) {
		color: themed('outline');
	}
}

.disabled-input-holder {
	cursor: not-allowed;
}

.disabled-input-title {
	cursor: default;
}

.u-shadow {
	@include themify($themes) {
		-webkit-box-shadow:  5px 5px 10px themed('nmShadowDark'),
												-5px -5px 10px themed('nmShadowLight');
						box-shadow:  5px 5px 10px themed('nmShadowDark'),
												-5px -5px 10px themed('nmShadowLight');
	}
}