// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  .card {
    display: inline-block;
    overflow: visible;
		width: 100%;
  }
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);
  }
}
@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
}
@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
}

/* Menus & Stuff */
body {
	background-color: #fafafa;
}

.body-container {
	height: calc(100vh - 56px) !important;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	top: 56px;
}

.bold {
	font-weight: 750;
}

.group-dropdown {
	text-transform: none;
	width: 100%;
	margin-top: 1rem;
	height: 3rem;
	padding-top: 0.25rem;
	font-size: 1.25rem;
	font-weight: 700;
}

.navbar-link {
	color: dimgray;
	font-size: 1.5rem;
	display: inline-block;
	margin-right: 1rem;
	margin-left: 1rem;
}

.pagination {
	display: flex;
	justify-content: space-between;
}

.open-session-div {
	cursor: pointer;
	color: grey;
	width: 100%;
	text-align: right;
	height: 0;
}

.open-session {
	cursor: pointer;
}

.modal.teacher-sessions {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
	min-height: 80%;
}

.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
}

.card {
	border-radius: 2rem;
	padding: 2rem;
	margin-bottom: 1rem;
}

.card-number {
	text-align: left;
	color: rgb(141, 141, 141);
	margin: 0 !important;
	padding: 0 1rem 0 0.75rem !important;
	h3 {
		font-weight: bold;
		font-size: 3.5rem;
		margin: 0 0 1rem 0 !important;
	}
}

.top-message {
	font-size: 1.15rem;
	line-height: 1.5rem;
	margin: 1.4rem 0 2rem 0;
	padding: 0.25rem 2.75rem;
	p {
		margin: 0.75rem 0;
		padding-bottom: 6px;
	}
}

.session-selector {
	padding: 0 1rem;
}

.session-card {
	padding: 1.5rem 1.5rem 1rem 1.5rem;
	border-radius: 1rem;
	margin: 10px;
	h1 {
		font-size: 1.5rem;
		margin: 0;
		font-weight: 500;
	}
	h2 {
		font-size: 1.25rem;
		margin: 0.5rem 0;
		font-weight: 400;
		color: #212121;
	}
	.capacity {
		position: absolute;
		text-align: right;
		bottom: 1rem;
		right: 1.5rem;
	}
	.capacity-overview {
		position: relative;
		font-weight: 500;
		float: right;
		bottom: 2.8rem;
	}
	.capacity-overview-unsigned {
		position: relative;
		display: inline-block;
		font-weight: 500;
	}
}

.mimic-card-h1 {
	font-size: 1.5rem !important;
	margin: 0 !important;
	font-weight: 500 !important;
}

.mimic-card-h2 {
	font-size: 1.25rem;
	margin: 0.5rem 0;
	font-weight: 400;
	color: #212121;
	border: none !important;
}

.selectable-card {
	user-select: none;
}

.selectable-card:not(.is-full) {
	cursor: pointer;

	&:active {
		transform: scale(0.95);
		cursor: pointer;
		user-select: none;
	}
}

.selectable-card.is-enrolled {
	cursor: pointer;

	&:active {
		transform: scale(0.95);
		cursor: pointer;
		user-select: none;
	}
}

.teacher-card {
	padding-bottom: 1.5rem;
}

.teacher-card-h1 {
	font-size: 2.5rem;
	margin: 1rem 0 2rem 0;
	text-align: center;
	user-select: none;
}

.selectable-card.is-full:not(.is-enrolled) {
	cursor: default;
}

.session-card-content.is-full:not(.is-enrolled) {
	opacity: 0.5;
}


.session-card.is-enrolled {
	border: 4px solid #4db6ac;
	margin: 6px;
	box-shadow: 3px 3px 6px #757575, inset 2px 2px 4px #bdbdbd;
}

.datepicker {
	text-align: center;
	color: #0097a7;
	border: none !important;
	background-color: #ffffff !important;

	text-transform: none;
	user-select: none;
	width: 100%;
	margin-top: 0.5rem !important;
	height: 3rem;
	padding-top: 0.25rem;
	font-size: 1.25rem !important;
	font-weight: 700;

	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
							0 3px 1px -2px rgba(0, 0, 0, .12),
							0 1px 5px 0 rgba(0, 0, 0, .20) !important
}

.sticky-container {
	position: sticky;
	top: -18px;
	padding: 10px 0px;
	z-index: 996;
}


.student-list-btn {
	color: grey;
	cursor: pointer;
	user-select: none;
}

.session-info-card {
	padding-right: 1.5rem;
}

.student-name-empty {
	color: grey;
	user-select: none;
}

.icon-button-offset {
	color: dimgrey;
	position: relative;
	top: 0.445rem;
	cursor: pointer;
	margin-left: 0.25rem;
	line-height: 0;
	transform: scale(0.75);
}

.menu-selector {
	text-align: center;
}

.menu-btn {
	background-color: #fafafa;
	color: #757575;
	box-shadow: none;
	display: block;
	text-transform: uppercase;
	padding: 0.5rem 0 0.5rem 0;
}

.menu-btn.active {
	color: #212121;
	font-weight: bold;
}

.menu-card {
	h1 {
		font-size: 2rem;
		margin: 0;
		font-weight: 500;
	}
}

.switches {
	margin-top: 2rem;
}

.toggle-switch {
	margin: 1rem 0;
	font-size: medium;
	color: #424242;
}

.login-with-google-btn {
	transition: background-color .3s, box-shadow .3s;
	padding: 12px 16px 12px 42px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
	color: #757575;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: white;
	background-repeat: no-repeat;
	background-position: 12px 11px;
	transform: scale(1.2);
	&:hover {
		box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
	}
	&:active {
		background-color: #eeeeee;
	}
	&:focus {
		outline: none;
		background-color: #eeeeee;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25), 0 0 0 3px #c8dafc;
	}
}

@media only screen and (min-width: 601px) {
	.body-container {
		height: calc(100vh - 64px) !important;
		top: 64px;
	}
	.modal.teacher-sessions {
		width: 85%;
	}
}

@media only screen and (min-width: 993px) {
	.modal.teacher-sessions {
		width: 70%;
	}
}
